<p>Le formulaire que vous essayez de voir a expiré.</p>
<p>Si vous êtes l'auteur de ce formulaire, vous pouvez peut-être le réactiver en
  vous identifiant, puis <strong>en éditant sa date d'expiration</strong> (en
  cliquant sur <b>Modifier</b> > <b>Autres options</b>) après avoir cliqué sur
  le lien <a href='[my_forms_url]'>Mes formulaires.</a></p>
<p>Si vous n'êtes pas l'auteur, contactez-le, en utilisant le moyen que l'auteur
  a utilisé pour vous enjoindre à remplir son formulaire (mail, réseau social,
  autres) et signalez-lui que son formulaire est expiré.</p>
