<p>Framaforms comporte un certain nombre de limitations.</p>
<h2>Durée de vie d'un formulaire (6 mois)</h2>
<p>
    Un formulaire est hébergé sur Framaforms par défaut pour 3 mois et pendant <strong>6 mois maximum</strong>. Ensuite ? il est "désactivé" pour une période de 2 mois, c'est à dire que vous pouvez encore y accéder, télécharger les résultats, le prolonger,
    etc. mais les internautes ne peuvent plus le remplir.
</p>
<p>Ne vous inquiétez pas, vous pouvez heureusement le prolonger ! Pour cela, il suffit d'éditer votre formulaire, puis d'en modifier la date d'expiration (en rajoutant une période pouvant aller jusqu'à 6 mois). Et ainsi de suite :)</p>
<p>Pour modifier votre formulaire, vous devez :</p>
<ol>
    <li>aller dans <strong>Modifier</strong></li>
    <li>cliquer sur <strong>Autres options</strong></li>
    <li>modifier la date dans l'encadré <strong>Date d'expiration</strong></li>
    <li>cliquer sur <strong>Enregistrer</strong> (tout en bas)</li>
</ol>
<p>Cette limitation vise à éviter ce que Framaforms héberge des formulaires sans limite de durée, occupant inutilement de la place sur nos serveurs et risquant de saturer le service.</p>
<h2>Nombre de réponses par formulaire (1 000)</h2>
<p>
    Par défaut, Framaforms autorise jusqu'à <strong>1 000 réponses</strong> par formulaire. Ensuite, ce dernier sera désactivé, c'est à dire que vous pourrez toujours y accéder, télécharger les résultats (et les supprimer), mais plus aucune réponse ne sera
    enregistrée. Rassurez-vous, vous recevrez un email lorsque votre formulaire atteindra 900 réponses, ce qui vous permettra d'anticiper. Et après ? Soit vous téléchargez, puis effacez les réponses déjà données (ce qui réactivera
    automatiquement votre fomulaires aux répondants), soit... vous allez voir ailleurs ! :) Par exemple :
    <ul>
    <li>en montant <a href="http://framacloud.org/cultiver-son-jardin/installation-de-framaforms/">votre propre instance de Framaforms</a> </li>
    <li> soit en utilisant un service comme <a href="https://webform.com/">Webform</a>, par exemple.</li>
    </ul>
</p>

<p>Cette limitation vise à éviter d'exploser la base de données de Framaforms (par exemple avec un utilisateur qui publierait un formulaire receuillant un million de réponses, pénalisant d'office tous les autres utilisateurs.</p>
<h2>Nombre de formulaires par utilisateur (200)</h2>
<p>Un même utilisateur ne peut pas avoir plus de <strong>200 formulaires actifs</strong>.</p>
<p>
    Là encore, il s'agit d'éviter les utilisateurs « extrêmes » qui monopoliseraient les ressources du service. Si vous dépassez cette limite, c'est probablement que vous avez besoin d'héberger vous même vos formulaires, plutôt que de nous
    les confier :)
</p>
<p><i> « Je ne veux pas être limité⋅e ! Je veux tout, gratuitement, maintenant ! » </i></p>
<p>Pas de problème, mais alors ça ne sera pas chez nous :)</p>
<p>Framaforms est un logiciel libre, vous pouvez donc le mettre en place pour votre usage, il vous suffit pour cela de suivre <a href="http://framacloud.org/cultiver-son-jardin/installation-de-framaforms/">notre tutoriel</a>.</p>
<p>Et si cela vous parait trop complexe, un site très proche de Framaforms propose un service sur mesure : <a href="https://webform.com/">Webform</a>. N'hésitez pas !</p>